@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col">
            @* <img src="/WebApplication1/Images/TonyStarkSuit.jpg" alt=""> *@
            <img class="itemPic" src="../../Images/TonyStarkSuit.png" alt="">

        </div>
        <div class="col" id="sec1">
            <h2>Tony Stark Mark III Suit</h2>
            <p>Fly and shoot lasers with the is suit!</p>
            <p>$1,000,000,000.00</p>
            <button>Add to Cart</button>
        </div>
        <div class="col">
            <img class="itemPic" src="../../Images/IdentityDisc.webp" alt="">
        </div>
        <div class="col" id="sec1">
            <h2>Identity Disc</h2>
            <p>This is the description!</p>
            <p>$199.99</p>
            <button>Add to Cart</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <img class="itemPic" src="../../Images/DarthVaderLightSaber.webp" alt="">
        </div>
        <div class="col" id="sec1">
            <h2>Darth Vader's Light Saber</h2>
            <p>This is the description</p>
            <p>$1999.99</p>
            <button>Add to Cart</button>
        </div>
        <div class="col">
            <img class="itemPic" src="../../Images/ThorHammer.webp" alt="">
        </div>
        <div class="col" id="sec1">
            <h2>Thor's Hammer</h2>
            <p>This is the description!</p>
            <p>$199.99</p>
            <button>Add to Cart</button>
        </div>
    </div>
    <br>
    <br>
</div>
